{{ define "main" }}

<!-- Start Hero -->
<section class="relative table w-full py-36">
    <img src="https://www.blunix.com/assets/images/blog/background.webp" srcset="https://www.blunix.com/assets/images/blog/background-sm.webp 600w, https://www.blunix.com/assets/images/blog/background.webp 1000w" fetchpriority="high" alt="background" class="absolute inset-0 w-full h-full object-cover object-center">
    <div class="absolute inset-0 bg-black opacity-60"></div>
    <div class="container relative">
        <div class="grid grid-cols-1 pb-8 text-center mt-10">
            <h1 class="font-bold lg:leading-normal leading-normal text-4xl lg:text-7xl mb-5 text-white">{{ .Title | default "The Blunix Blog" }}</h1>
            <div class="text-2xl text-slate-500 max-w-xl mx-auto text-white prose prose-a:text-blue-500 prose-a:hover:text-blue-700 prose-a:font-semibold prose-a:underline hover:prose-a:no-underline max-w-none">
                {{ .Content | markdownify }}
            </div>
        </div><!--end grid-->
    </div><!--end container-->

    <div class="absolute text-center z-10 bottom-5 start-0 end-0 mx-3">
        <ul class="tracking-[0.5px] mb-0 inline-block">
           <li class="inline-block uppercase text-[13px] font-bold duration-500 ease-in-out text-white/50 hover:text-white">Home</li>
           <li class="inline-block text-base text-white/50 mx-0.5 ltr:rotate-0 rtl:rotate-180"><i class="uil uil-angle-right-b"></i></li>
           <li class="inline-block uppercase text-[13px] font-bold duration-500 ease-in-out text-white" aria-current="page">Blog</li>
        </ul>
    </div>
</section><!--end section-->
<div class="relative">
    <div class="shape absolute sm:-bottom-px -bottom-[2px] start-0 end-0 overflow-hidden z-1 text-white dark:text-slate-500">
        <svg class="w-full h-auto scale-[2.0] origin-top" viewBox="0 0 2880 48" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M0 48H1437.5H2880V0H2160C1442.5 52 720 0 720 0H0V48Z" fill="currentColor"></path>
        </svg>
    </div>
</div>
<!-- End Hero -->

<!-- Start Section-->
<section class="relative md:py-24 py-16">
    <div class="container relative">
        <div class="grid grid-cols-1 lg:grid-cols-3 md:grid-cols-2 gap-[30px]">

            {{ range .Pages.ByDate.Reverse }}
            {{ $isExternal := .Params.external_link }}
            {{ $link := cond $isExternal .Params.external_link .RelPermalink }}
            <div class="group relative rounded-md shadow hover:shadow-lg dark:shadow-gray-800 duration-500 ease-in-out overflow-hidden flex flex-col h-full">
                <div class="flex-grow">
                    <div class="relative overflow-hidden bg-white p-6 border-b border-gray-100">
                        <a href="{{ $link }}" {{ if $isExternal }}target="_blank" rel="noopener noreferrer"{{ end }} aria-label="{{ if $isExternal }}Visit external link: {{ .Title }}{{ else }}Read the blogpost: {{ .Title }}{{ end }}" class="block">
                            <div class="flex items-center justify-center overflow-hidden mx-auto" style="width: 355px; height: 120px; max-width: 100%;">
                                {{ if .Params.image }}
                                <img src="{{ .Params.image }}" class="group-hover:scale-110 duration-500 ease-in-out" style="width: 100%; height: 100%; object-fit: contain;" alt="{{ .Params.image_alt | default .Title }}">
                                {{ else }}
                                <img src="/images/navbar/blunix-logo-light.svg" class="group-hover:scale-110 duration-500 ease-in-out" style="width: 100%; height: 100%; object-fit: contain;" alt="{{ .Title }}">
                                {{ end }}
                            </div>
                        </a>
                        <div class="absolute inset-0 bg-slate-900/50 opacity-0 group-hover:opacity-100 duration-500 ease-in-out" style="pointer-events: none;"></div>
                    </div>
                    <div class="content p-6">
                        <a href="{{ $link }}" {{ if $isExternal }}target="_blank" rel="noopener noreferrer"{{ end }}>
                            <h2 class="text-blue-500 hover:text-blue-700 underline hover:no-underline md:text-3xl text-2xl md:leading-normal leading-normal font-semibold">{{ .Title }}</h2>
                        </a>
                        <p class="text-2xl text-slate-500 max-w-xl mx-auto">{{ .Description | default .Summary }}</p>
                    </div>
                </div>
                <ul class="pt-4 border-t border-gray-100 dark:border-gray-800 flex items-center list-none text-slate-500 px-6 pb-6">
                    {{ if or (not $isExternal) .Params.reading_time_display }}
                    <li class="flex items-center me-4">
                        <i class="uil uil-clock text-lg leading-none me-2 text-slate-500 dark:text-white"></i>
                        <span>{{ if .Params.reading_time_display }}{{ .Params.reading_time_display }}{{ else }}{{ .ReadingTime }} {{ if eq .ReadingTime 1 }}{{ i18n "reading_time_minute" }}{{ else }}{{ i18n "reading_time_minutes" }}{{ end }}{{ end }}</span>
                    </li>
                    {{ end }}
                    <li class="flex items-center me-4">
                        <i class="uil uil-calendar-alt text-lg leading-none me-2 text-slate-500 dark:text-white"></i>
                        <span>{{ if .Params.date_display }}{{ .Params.date_display }}{{ else }}{{ .Date | time.Format ":date_long" }}{{ end }}</span>
                    </li>
                </ul>
            </div>
            {{ end }}

        </div><!--end grid-->
    </div><!--end container-->
</section><!--end section-->

{{ partial "cta-blog" . }}

{{ end }}
