<div class="bg-primary sticky top-0 z-50 border-b border-gray-100 lg:block">
  <div class="px-6 lg:px-8">
    <div class="mx-auto flex items-center justify-center gap-3 py-2 min-[2000px]:container lg:justify-end">
      <div class="flex w-full justify-between gap-2 sm:gap-8 md:justify-end">
        {{ range .Site.Params.banner_link }}
          <a href="{{ .link | safeURL }}" class="">
            <span class="sr-only">{{ .name }}</span>
            <div class="flex items-center justify-start gap-1 text-xs text-white hover:text-white/90 min-[400px]:text-xs sm:gap-2 sm:text-base">
              <span class="w-4"><i class="{{ .icon }} text-xs text-white sm:text-base"></i></span>{{ .name }}
            </div>
          </a>
        {{ end }}
      </div>
    </div>
  </div>
</div>
